<jaspero-alerts></jaspero-alerts>
<div class="side-nav  text-white">
            
  <div class="side-nav-img">
    <img src="https://cdn0.iconfinder.com/data/icons/let-us-eat-now/512/gas-cylinder_kitchen_cook_utility-512.png">
    </div>
<a class="btn btn-outline-light" routerLink="/newacc">Add New Account</a>
<a class="btn btn-outline-light" routerLink="/users">Distributors</a>
<a class="btn btn-outline-light" routerLink="/products">Update Products</a>
<a class="btn btn-outline-light" routerLink="/feedback">Customer Feedback</a>
<a class="btn btn-outline-danger"routerLink="/">Logout</a>

</div>

<div class="body text-white">
  <h1 class="text-center display-4">
      <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    Add A New Account
  </h1>
  <div class="form">
    <div class="form-group">
      <input

        required minlength="4" maxlength="10"
        id="username"
        type="text"
        placeholder="Username"
        class="form-control"
        #username="ngModel"
        [(ngModel)]="addForm.username"
      >
      <div class="alert alert-danger" *ngIf= "username.touched && !username.valid" >
          <div *ngIf="username.errors.required">
            Username is required
          </div>
          <div *ngIf="username.errors.minlength">
            Username should be more than 4 characters
    </div>
    </div>
          
      </div>

      <div class="form-group">
      <input
        required
        pattern="[^ @]*@[^ @]*"
        id="email"
        type="email"
        placeholder="Email"
        class="form-control"
        #email="ngModel"
        [(ngModel)]="addForm.email"
      >
      <div class="alert alert-danger" *ngIf= "email.touched && !email.valid && !email.pattern" >
          <div *ngIf="email.errors.required">Email is required</div>
          <!-- <div *ngIf="email.errors.email">Enter a valid Email</div> -->
          <div *ngIf="email.errors.pattern">Enter a valid Email</div>
        </div>
    </div>
    <div class="form-group">
      <input
        required minlength="6" 
        id="password"
        type="password"
        placeholder="Password"
        class="form-control"
        #password="ngModel"
        [(ngModel)]="addForm.password"
      >
      <div class="alert alert-danger" *ngIf= "password.touched && !password.valid" >
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password should be more than 6 characters</div>
        </div>
    </div>

      <button class="btn btn-outline-success" id="submit"  (click)="addAcc()" >Add User</button>
    
  </div>
</div>