<div class="body">
<div id="particles-js">
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul *ngFor="let seller of seller">
        <li> {{seller.dealerName}} </li>
        <li> {{seller.location}}</li>
          <li> {{seller.email}}</li>
      
    </ul>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">View Profile</button>


</div>
</div>