<jaspero-alerts></jaspero-alerts>
<div class="side-nav  text-white">
            
  <div class="side-nav-img">
      <img src="https://cdn0.iconfinder.com/data/icons/let-us-eat-now/512/gas-cylinder_kitchen_cook_utility-512.png">
  </div>
<a class="btn btn-outline-light" routerLink="/newacc">Add New Account</a>
<a class="btn btn-outline-light" routerLink="/users">Distributors</a>
<a class="btn btn-outline-light" routerLink="/products">Update Products</a>
<a class="btn btn-outline-light" routerLink="/feedback">Customer Feedback</a>
<a class="btn btn-outline-danger"routerLink="/">Logout</a>

</div>

<div class="body text-white">
  <h1 class="text-center display-4">
      <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    Products
  </h1>
  <div class="view">
    <table class="table table-borderless table-hover">
      <thead>
          <!-- <div class="zoom"> -->
        <tr>
          <th>Brand</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
      <!-- </div> -->
      </thead>
      <tbody>
        <tr *ngFor=" let products   of  products$ | async "  >
            <!-- <div class="zoom">  -->
          <td>{{ products.brand }}</td>
          <td>{{ products.size }}</td>
          <td>{{ products.price }}</td>
          <button class="btn btn-outline-warning" (click)="removeProduct(products.key)">delete</button>
        <!-- </div> -->
        </tr>
      </tbody>
    </table>
    
    <div class="form">
      <div class="form-group">
        <input
          required
          id="brand"
          type="text"
          placeholder="Brand"
          class="form-control"
          #brand="ngModel"
          [(ngModel)]="addPro.brand"
          [(ngModel)]="test1"
        >
        <div class="alert alert-danger" *ngIf= "brand.touched && !brand.valid" >
            <div *ngIf="brand.errors.required">Brand name is required</div>
          </div>
        </div>
  
        <div class="form-group">
        <input
          
          required 
          id="size"
          type="text"
          placeholder="Size"
          class="form-control"
          #size="ngModel"
          [(ngModel)]="addPro.size"
          [(ngModel)]="test"
        >
        <div class="alert alert-danger" *ngIf= "size.touched && !size.valid" >
            <div *ngIf="size.errors.required">Please enter a size</div>
           
          </div>
      </div>
      <div class="form-group">
        <input
          required
          id="price"
          type="number"
          placeholder="Price"
          class="form-control"
          #price="ngModel"
          [(ngModel)]="addPro.price"

        >
        <div class="alert alert-danger" *ngIf= "price.touched && !price.valid" >
            <div *ngIf="price.errors.required">Price is required</div>
          </div>
      </div>
        <button class="btn btn-outline-success" id="submit" (click)="addProduct()" >Add Product</button>
        <!-- <button class="btn btn-outline-warning" (click)="removeProduct()">delete</button> -->
        
      
    </div>
</div>